@import "tailwindcss";


.allcenter{
  @apply flex items-center justify-center
}

.xcenter{
  @apply flex justify-center
}

.ycenter{
  @apply flex items-center
}

.xend{
  @apply flex justify-end
}

.yend{
  @apply flex items-end
}
