@import "tailwindcss";
@import "tw-animate-css";

body{
  font-size: small;
}

@custom-variant dark (&:is(.dark *));

.allcenter{
  @apply flex items-center justify-center
}

.xcenter{
  @apply flex justify-center
}

.ycenter{
  @apply flex items-center
}

.xend{
  @apply flex justify-end
}

.yend{
  @apply flex items-end
}
